# Copy this file to .env and fill in values for your environment
OPERATOR_IPS=192.168.0.3
ZEEK_LOG_DIR=/opt/zeek/logs/current
COWRIE_LOG_DIR=/home/cowrie/cowrie/var/log/cowrie
LOKI_URL=http://localhost:3100
PHASE=static
